body{
    background: #d9a5df;
    font-family: "Poppins", sans-serif;
    margin: 20px;
}

.titulo{
    color: #5b3d8f;
    text-align: center; 
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
}

.caixa{
    
    background: #ffffffcc;    
    border-radius: 16px;
    padding: 25px ;
    box-shadow: 0 0 20px rgba(115, 60, 173, 0.25);
    margin-bottom: 25px;
}

.a {
    color: #4c2a75;
     font-weight: 600;
     font-family: Georgia, 'Times New Roman', Times, serif;
}

.b {
    width: 99%;
    padding: 9px;
    margin: 7px 0 15px;
    background: #f5eaff;
    border: 2px solid #9f72da;
    border-radius: 10px;
    transition: 3s;
}

.b:focus {
    border-color: #6c237a;
    outline: none;
    background: #dad8dc;
}

button {
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.c{
    background: #a875ff;
}

.c:hover{
    background: #8c5edf;
}

.cancelar {
    background: #e1c5ff;
    color: #4c2a75;
}

.cancelar:hover {
    background: #b595f2;
}

h2 {
    color: #5b3d8f;
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 12px;
    border:#4c2a75 solid 2px ;
}

th {
    font-family: Georgia, 'Times New Roman', Times, serif;  
    background: #4c2a75;
    color: #b98dfd;
    font-weight: 600;
}
th, td{
    border: solid 2px #4c2a75;
     padding: 15px;
}


